* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
backend/linux-x86_64/gpu28CudaBackend binary
backend/linux-x86_64/gpu28CudaBackend-twophaseflux-validation binary
